/************  SPLASH SCREEN *************/


#intro{ 
    /* display: flex; */
    background: url(../images/backgrounds/splashBackground.jpg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
    width: 90rem;
    height: 48rem;
  }


#intro-text{
    font-family: "Press Start 2P";
    color: white;
    line-height: 1.2rem;
    font-size: 1rem;
    padding: 80px 50px;
    background-color: black;
    opacity: 0.9;
    position: relative;
    width: 30rem;
    height: 35rem;
}

#intro-text h1,h4{
    opacity: none;
}

#startButton{
    font-family: "Press Start 2P";
    font-weight: bold;
    visibility: visible;
    position: absolute;
    bottom: 4rem;
    left: 10rem;
    padding: 1.5rem 3rem;
    color: rgb(1, 1, 1);
    font-size: 1rem;
    background-color: white;
    
}


/************  GAME SCREEN *************/

#canvas { 
    background:url(../images/backgrounds/lastBG.png);
    background-size: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
  } 


  #score{
    color: black;
    font-family: "Press Start 2P";
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 2rem;
    left: 2rem;
    display: none;
    padding: .5rem 1rem;
    background-color: white;
    z-index: 2;
  }
  

  /************  GAME OVER SCREEN *************/


  #game-over{
    background: url(../images/backgrounds/gameoverBG.png); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
    display: none;
    width: 87.5rem;
    height: 46.25rem;
 
  }

  #game-over h1{
    color: white;
    font-size: 80px; 
    position: relative;
    font-family: "Press Start 2P";
    top: 8rem;
    left: 8rem;
  }

  #game-over img{
    position: absolute;
    left: 800px;
    top: 120px;
    width: 450px;
    height: 650px;
  }


  #restartButton{
    position: absolute;
    bottom: 10rem;
    left: 10rem;
    padding: 1.5rem 3rem;
    color: rgb(1, 1, 1);
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Press Start 2P";
    background-color: white;
     

  }