 
#game{ 
    background-color: wheat;
    /* background: url(../images/backgrounds/gameBackground.png);  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: none;  
    
};

