
/************  SPLASH SCREEN *************/


#intro{ 
    background: url(../images/backgrounds/splashBackground.jpg); 
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;

  }


#intro-text{
    font-family: "Press Start 2P";
    color: white;
    line-height: 1.5rem;
    font-size: 1rem;
    padding: 80px 50px;
    background-color: black;
    opacity: 0.9;
    position: relative;
    width: 35%;
    height: 120%;
}

 #intro-text h1{
    font-size: 2rem;
} 

#intro-text h2{
  font-size: 1.5rem;
} 

#startButton{
    font-family: "Press Start 2P";
    font-weight: bold;
    visibility: visible;
    position: absolute;
    bottom: 2rem;
    left: 10rem;
    padding: 1.5rem 3rem;
    color: rgb(1, 1, 1);
    font-size: 1rem;
    background-color: white;
    
}


/************  GAME SCREEN *************/

#game{
  display: none;
  background-color: black;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#canvas { 
    background:url(../images/backgrounds/lastBG.png);
    background-size: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
  } 


  #score{
    color: black;
    font-family: "Press Start 2P";
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 2rem;
    left: 2rem;
    display: none;
    padding: .5rem 1rem;
    background-color: white;
    z-index: 2;
  }
  

  /************  GAME OVER SCREEN *************/


  #game-over{
    background: url(../images/backgrounds/gameoverBG.png); 
    width: 100%;
    height: 100vh;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: none;

  }

  #game-over h1{
    color: white;
    font-size: 80px; 
    position: relative;
    font-family: "Press Start 2P";
    top: 8rem;
    left: 10rem;
  }

  #game-over img{
    position: absolute;
    left: 60%;
    top: 10%;
    width: 30%;
    height: 80%;
  }


  #restartButton{
    position: absolute;
    bottom: 10rem;
    left: 10rem;
    padding: 1.5rem 3rem;
    color: rgb(1, 1, 1);
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Press Start 2P";
    background-color: white;
     

  }

